.carditem_container{
  padding: 2.1rem 0;

  table{
    thead{
      tr {
        text-align: center;
      }
    }
    tbody{
      tr{
        text-align: center;
      }

      .total_cart{
        >td{
          border-top: 1px solid rgba(114, 114, 115,0.2);

          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}