.carditem_container{
  padding: 2.1rem 0;

  .cart_back{
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid var(--color-red-one);
    border-radius: 5px;
    color: var(--color-red-one);

    &:hover{
      background: rgba(238, 149, 128,0.2);
    }
  }

  .cart_title{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin-bottom: 15px;

    span{
      font-size: 2rem;
      font-weight: bold;
      color: var(--color-dark);
      margin-right: 5px;
    }
    svg{
      width: 2rem;
      height: 2rem;
      color: var( --color-pink);
    }
  }

  table{
    thead{
      tr {
        text-align: center;
      }
    }
    tbody{
      tr{
        text-align: center;
      }

      .total_cart{
        >td{
          border-top: 1px solid rgba(114, 114, 115,0.2);

          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}